@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

button{
    background-color: rebeccapurple; 
    color: white; 
    padding: 1rem; 
    font-family: inherit; 
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7); 
    border-radius: 4px; 
    border: none; 
    font-size: 1.2rem; 
}

button:focus{
    outline: none; 
}

button:active{
    transform: translate(2px, 2px); 
}